body {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 100px 0;
}

* {
  box-sizing: border-box;
}

.main {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.desc {
  font-weight: 700;
  font-size: 1.1rem;
}
.item {
  width: 30px;
  height: 30px;
  background-color: pink;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin: 4px;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 2px 2px 5px lightgray;
  transition: 150ms all ease-in;
}

.item:hover {
  background-color: skyblue;
  color: white;
  border: none;
}

.result {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.correct {
  color: skyblue;
}

.wrong {
  color: red;
}

@media screen and (max-width: 768px) {
  .main {
    width: 95%;
  }
  .item {
    width: 18%;
    margin: 1%;
  }
}
